  <div id="app">
    <form class="form-signin" action="/logIn" method="post" id="login-form" role="form">
        <h2 class="form-signin-heading">Inicia Sesión</h2>
        <label><%= error %></label>
        <input  class="form-control" name="username" placeholder="Email address" id="login-username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" id="login-password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" id="btn_log_In" type="submit">Aceptar</button>
      </form>
  


  </div>
  
  

