  <div id="app">
    <form class="form-signin" action="/logIn" method="post" id="login-form" role="form">
        <h2 class="form-signin-heading">Registrate</h2>
        <label><%= error %></label>
        <input  class="form-control" name="username" placeholder="Usuario" id="register-username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Contraseña" id="register-password" required>
        <input type="email" class="form-control" name="email" placeholder="Email " id="register-password" required>
       
        <button class="btn btn-lg btn-primary btn-block" id="btn_log_In" type="submit">Aceptar</button>
      </form>
  


  </div>
  
  
